import { {{Entity}}Output } from '@/{{entity}}/dtos/{{entity}}.dto'
import { {{Entity}}Entity } from '@/{{entity}}/entities/{{entity}}.entity'

export type Create{{Entity}}UseCaseInput = Pick<{{Entity}}Entity, 'name'>

export type Create{{Entity}}UseCaseOutput = {{Entity}}Output
