import { {{Entity}}Output, {{Entity}}Input } from '@/{{entity}}/dtos/{{entity}}.dto'

export type Create{{Entity}}UseCaseInput = {{Entity}}Input

export type Create{{Entity}}UseCaseOutput = {{Entity}}Output
