import { {{Entity}}Output, {{Entity}}Input } from '@/{{entity}}/dtos/{{entity}}.dto'

export type Update{{Entity}}UseCaseInput = {{Entity}}Input & {
  id: string
}

export type Update{{Entity}}UseCaseOutput = {{Entity}}Output
